In [2]:
import os; os.environ['OPENBLAS_NUM_THREADS']='1'
import numpy as np
import pandas as pd
import implicit
from scipy.sparse import coo_matrix
from implicit.evaluation import mean_average_precision_at_k
import time

In [ ]:
start = time.time()

In [3]:
%%time
df = pd.read_csv(r'C:\Users\Stagiaire\Downloads\Timsoft\H&M\transactions_train.csv/transactions.csv', dtype={'article_id': str}, parse_dates=['t_dat'])
df_sub = pd.read_csv(r'C:\Users\Stagiaire\Downloads\Timsoft\H&M\sample_submission.csv/sample_submission.csv')
dfu = pd.read_csv(r'C:\Users\Stagiaire\Downloads\Timsoft\H&M\customers.csv/customers.csv')
dfi = pd.read_csv(r'C:\Users\Stagiaire\Downloads\Timsoft\H&M\articles.csv/articles.csv', dtype={'article_id': str})

Wall time: 39.8 s

In [4]:
dfu

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
...,...,...,...,...,...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,NaN,ACTIVE,NONE,24.0,7aa399f7e669990daba2d92c577b52237380662f36480b...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,NaN,ACTIVE,NONE,21.0,3f47f1279beb72215f4de557d950e0bfa73789d24acb5e...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,1.0,1.0,ACTIVE,Regularly,21.0,4563fc79215672cd6a863f2b4bf56b8f898f2d96ed590e...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,1.0,1.0,ACTIVE,Regularly,18.0,8892c18e9bc3dca6aa4000cb8094fc4b51ee8db2ed14d7...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,NaN,PRE-CREATE,NONE,65.0,0a1a03306fb2f62164c2a439b38c0caa64b40deaae8687...

In [5]:
dfi

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,0108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,0108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,0108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,0110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,0110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,0953450001,953450,5pk regular Placement1,302,Socks,Socks & Tights,1010014,Placement print,9,Black,...,Socks Bin,F,Menswear,3,Menswear,26,Men Underwear,1021,Socks and Tights,Socks in a fine-knit cotton blend with a small...
105538,0953763001,953763,SPORT Malaga tank,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,2,H&M+,1005,Jersey Fancy,Loose-fitting sports vest top in ribbed fast-d...
105539,0956217002,956217,Cartwheel dress,265,Dress,Garment Full body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,"Short, A-line dress in jersey with a round nec..."
105540,0957375001,957375,CLAIRE HAIR CLAW,72,Hair clip,Accessories,1010016,Solid,9,Black,...,Small Accessories,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,Large plastic hair claw.
105541,0959461001,959461,Lounge dress,265,Dress,Garment Full body,1010016,Solid,11,Off White,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,Calf-length dress in ribbed jersey made from a...

In [6]:
# Trying with less data:
# https://www.kaggle.com/tomooinubushi/folk-of-time-is-our-best-friend/notebook
df = df[(df['t_dat'] > '2018-09-20') & (df['t_dat'] < '2019-09-20')]
df

,t_dat,customer_id,article_id,price,sales_channel_id
48399,2018-09-21,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0583558001,0.067780,2
48400,2018-09-21,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0639677008,0.025407,2
48401,2018-09-21,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0640244003,0.033881,2
48402,2018-09-21,0006d37aaf7dd84f9bbc02f6cadcb74fd72ebf370bdc5f...,0685687004,0.016932,2
48403,2018-09-21,0006d37aaf7dd84f9bbc02f6cadcb74fd72ebf370bdc5f...,0591334004,0.010153,2
...,...,...,...,...,...
16803896,2019-09-19,fff98edc27fc5d64c3027bf0e3702510143d1a79c3dc9a...,0764525002,0.015237,2
16803897,2019-09-19,fff98edc27fc5d64c3027bf0e3702510143d1a79c3dc9a...,0764525002,0.015237,2
16803898,2019-09-19,fff98edc27fc5d64c3027bf0e3702510143d1a79c3dc9a...,0703558001,0.022017,2
16803899,2019-09-19,fff98edc27fc5d64c3027bf0e3702510143d1a79c3dc9a...,0703558001,0.022017,2
16803900,2019-09-19,fff98edc27fc5d64c3027bf0e3702510143d1a79c3dc9a...,0662630003,0.016932,2

In [7]:
# For validation this means 3 weeks of training and 1 week for validation
# For submission, it means 4 weeks of training
df['t_dat'].max()

Timestamp('2019-09-19 00:00:00')

In [8]:
ALL_USERS = dfu['customer_id'].unique().tolist()
ALL_ITEMS = dfi['article_id'].unique().tolist()

user_ids = dict(list(enumerate(ALL_USERS)))
item_ids = dict(list(enumerate(ALL_ITEMS)))

user_map = {u: uidx for uidx, u in user_ids.items()}
item_map = {i: iidx for iidx, i in item_ids.items()}

df['user_id'] = df['customer_id'].map(user_map)
df['item_id'] = df['article_id'].map(item_map)

del dfu, dfi

In [9]:
row = df['user_id'].values
col = df['item_id'].values
data = np.ones(df.shape[0])
coo_train = coo_matrix((data, (row, col)), shape=(len(ALL_USERS), len(ALL_ITEMS)))
coo_train

<1371980x105542 sparse matrix of type '<class 'numpy.float64'>'
	with 16755502 stored elements in COOrdinate format>

In [10]:
%%time
model = implicit.als.AlternatingLeastSquares(factors=10, iterations=2)
model.fit(coo_train)

C:\Users\Stagiaire\anaconda3\lib\site-packages\implicit\utils.py:31: UserWarning: Intel MKL BLAS detected. Its highly recommend to set the environment variable 'export MKL_NUM_THREADS=1' to disable its internal multithreading
  warnings.warn(

  0%|          | 0/2 [00:00<?, ?it/s]

Wall time: 7.33 s

In [11]:
def to_user_item_coo(df):
    """ Turn a dataframe with transactions into a COO sparse items x users matrix"""
    row = df['user_id'].values
    col = df['item_id'].values
    data = np.ones(df.shape[0])
    coo = coo_matrix((data, (row, col)), shape=(len(ALL_USERS), len(ALL_ITEMS)))
    return coo


def split_data(df, validation_days=7):
    """ Split a pandas dataframe into training and validation data, using <<validation_days>>
    """
    validation_cut = df['t_dat'].max() - pd.Timedelta(validation_days)

    df_train = df[df['t_dat'] < validation_cut]
    df_val = df[df['t_dat'] >= validation_cut]
    return df_train, df_val

def get_val_matrices(df, validation_days=7):
    """ Split into training and validation and create various matrices
        
        Returns a dictionary with the following keys:
            coo_train: training data in COO sparse format and as (users x items)
            csr_train: training data in CSR sparse format and as (users x items)
            csr_val:  validation data in CSR sparse format and as (users x items)
    
    """
    df_train, df_val = split_data(df, validation_days=validation_days)
    coo_train = to_user_item_coo(df_train)
    coo_val = to_user_item_coo(df_val)

    csr_train = coo_train.tocsr()
    csr_val = coo_val.tocsr()
    
    return {'coo_train': coo_train,
            'csr_train': csr_train,
            'csr_val': csr_val
          }


def validate(matrices, factors=100, iterations=20, regularization=0.01, show_progress=True):
    """ Train an ALS model with <<factors>> (embeddings dimension) 
    for <<iterations>> over matrices and validate with MAP@12
    """
    coo_train, csr_train, csr_val = matrices['coo_train'], matrices['csr_train'], matrices['csr_val']
    
    model = implicit.als.AlternatingLeastSquares(factors=factors, 
                                                 iterations=iterations, 
                                                 regularization=regularization, 
                                                 random_state=42)
    model.fit(coo_train, show_progress=show_progress)
    
    # The MAPK by implicit doesn't allow to calculate allowing repeated items, which is the case.
    # TODO: change MAP@12 to a library that allows repeated items in prediction
    map12 = mean_average_precision_at_k(model, csr_train, csr_val, K=12, show_progress=show_progress, num_threads=4)
    print(f"Factors: {factors:>3} - Iterations: {iterations:>2} - Regularization: {regularization:4.3f} ==> MAP@12: {map12:6.5f}")
    return map12

In [12]:
matrices = get_val_matrices(df)

In [13]:
%%time
best_map12 = 0
for factors in [40, 50, 60, 100, 200, 500, 1000]:
    for iterations in [3, 12, 14, 15, 20]:
        for regularization in [0.01]:
            map12 = validate(matrices, factors, iterations, regularization, show_progress=False)
            if map12 > best_map12:
                best_map12 = map12
                best_params = {'factors': factors, 'iterations': iterations, 'regularization': regularization}
                print(f"Best MAP@12 found. Updating: {best_params}")

Factors:  40 - Iterations:  3 - Regularization: 0.010 ==> MAP@12: 0.00378
Best MAP@12 found. Updating: {'factors': 40, 'iterations': 3, 'regularization': 0.01}
Factors:  40 - Iterations: 12 - Regularization: 0.010 ==> MAP@12: 0.00403
Best MAP@12 found. Updating: {'factors': 40, 'iterations': 12, 'regularization': 0.01}
Factors:  40 - Iterations: 14 - Regularization: 0.010 ==> MAP@12: 0.00406
Best MAP@12 found. Updating: {'factors': 40, 'iterations': 14, 'regularization': 0.01}
Factors:  40 - Iterations: 15 - Regularization: 0.010 ==> MAP@12: 0.00402
Factors:  40 - Iterations: 20 - Regularization: 0.010 ==> MAP@12: 0.00402
Factors:  50 - Iterations:  3 - Regularization: 0.010 ==> MAP@12: 0.00397
Factors:  50 - Iterations: 12 - Regularization: 0.010 ==> MAP@12: 0.00420
Best MAP@12 found. Updating: {'factors': 50, 'iterations': 12, 'regularization': 0.01}
Factors:  50 - Iterations: 14 - Regularization: 0.010 ==> MAP@12: 0.00421
Best MAP@12 found. Updating: {'factors': 50, 'iterations': 14, 'regularization': 0.01}
Factors:  50 - Iterations: 15 - Regularization: 0.010 ==> MAP@12: 0.00423
Best MAP@12 found. Updating: {'factors': 50, 'iterations': 15, 'regularization': 0.01}
Factors:  50 - Iterations: 20 - Regularization: 0.010 ==> MAP@12: 0.00418
Factors:  60 - Iterations:  3 - Regularization: 0.010 ==> MAP@12: 0.00406
Factors:  60 - Iterations: 12 - Regularization: 0.010 ==> MAP@12: 0.00433
Best MAP@12 found. Updating: {'factors': 60, 'iterations': 12, 'regularization': 0.01}
Factors:  60 - Iterations: 14 - Regularization: 0.010 ==> MAP@12: 0.00429
Factors:  60 - Iterations: 15 - Regularization: 0.010 ==> MAP@12: 0.00431
Factors:  60 - Iterations: 20 - Regularization: 0.010 ==> MAP@12: 0.00443
Best MAP@12 found. Updating: {'factors': 60, 'iterations': 20, 'regularization': 0.01}
Factors: 100 - Iterations:  3 - Regularization: 0.010 ==> MAP@12: 0.00422
Factors: 100 - Iterations: 12 - Regularization: 0.010 ==> MAP@12: 0.00418
Factors: 100 - Iterations: 14 - Regularization: 0.010 ==> MAP@12: 0.00413
Factors: 100 - Iterations: 15 - Regularization: 0.010 ==> MAP@12: 0.00411
Factors: 100 - Iterations: 20 - Regularization: 0.010 ==> MAP@12: 0.00410
Factors: 200 - Iterations:  3 - Regularization: 0.010 ==> MAP@12: 0.00393
Factors: 200 - Iterations: 12 - Regularization: 0.010 ==> MAP@12: 0.00424
Factors: 200 - Iterations: 14 - Regularization: 0.010 ==> MAP@12: 0.00419
Factors: 200 - Iterations: 15 - Regularization: 0.010 ==> MAP@12: 0.00420
Factors: 200 - Iterations: 20 - Regularization: 0.010 ==> MAP@12: 0.00416
Factors: 500 - Iterations:  3 - Regularization: 0.010 ==> MAP@12: 0.00428
Factors: 500 - Iterations: 12 - Regularization: 0.010 ==> MAP@12: 0.00379
Factors: 500 - Iterations: 14 - Regularization: 0.010 ==> MAP@12: 0.00372
Factors: 500 - Iterations: 15 - Regularization: 0.010 ==> MAP@12: 0.00373
Factors: 500 - Iterations: 20 - Regularization: 0.010 ==> MAP@12: 0.00366
Factors: 1000 - Iterations:  3 - Regularization: 0.010 ==> MAP@12: 0.00376
Factors: 1000 - Iterations: 12 - Regularization: 0.010 ==> MAP@12: 0.00330
Factors: 1000 - Iterations: 14 - Regularization: 0.010 ==> MAP@12: 0.00327
Factors: 1000 - Iterations: 15 - Regularization: 0.010 ==> MAP@12: 0.00327
Factors: 1000 - Iterations: 20 - Regularization: 0.010 ==> MAP@12: 0.00323
Wall time: 5h 6min 10s

In [14]:
del matrices

In [15]:
coo_train = to_user_item_coo(df)
csr_train = coo_train.tocsr()

In [16]:
def train(coo_train, factors=200, iterations=15, regularization=0.01, show_progress=True):
    model = implicit.als.AlternatingLeastSquares(factors=factors, 
                                                 iterations=iterations, 
                                                 regularization=regularization, 
                                                 random_state=42)
    model.fit(coo_train, show_progress=show_progress)
    return model

In [17]:
best_params

{'factors': 60, 'iterations': 20, 'regularization': 0.01}

In [18]:
model = train(coo_train, **best_params)

  0%|          | 0/20 [00:00<?, ?it/s]

In [19]:
def submit(model, csr_train, submission_name="submissions.csv"):
    preds = []
    batch_size = 2000
    to_generate = np.arange(len(ALL_USERS))
    for startidx in range(0, len(to_generate), batch_size):
        batch = to_generate[startidx : startidx + batch_size]
        ids, scores = model.recommend(batch, csr_train[batch], N=12, filter_already_liked_items=False)
        for i, userid in enumerate(batch):
            customer_id = user_ids[userid]
            user_items = ids[i]
            article_ids = [item_ids[item_id] for item_id in user_items]
            preds.append((customer_id, ' '.join(article_ids)))

    df_preds = pd.DataFrame(preds, columns=['customer_id', 'prediction'])
    df_preds.to_csv(submission_name, index=False)
    
    display(df_preds.head())
    print(df_preds.shape)
    
    return df_preds

In [20]:
%%time
df_preds = submit(model, csr_train);

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0568601006 0568597006 0568601007 0568597007 07...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0351484002 0723529001 0458543001 0673677002 06...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0529012025 0611415001 0579302001 0611415005 07...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0564786001 0680262001 0484398001 0680263003 06...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0629758005 0590928013 0712924003 0698286003 07...

(1371980, 2)
Wall time: 6min 3s

In [21]:
df_preds

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0568601006 0568597006 0568601007 0568597007 07...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0351484002 0723529001 0458543001 0673677002 06...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0529012025 0611415001 0579302001 0611415005 07...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0564786001 0680262001 0484398001 0680263003 06...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0629758005 0590928013 0712924003 0698286003 07...
...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,0590928019 0712924008 0733935001 0590928011 06...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,0759871002 0759871001 0507909001 0562245018 05...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0484398001 0573716012 0759871002 0759871001 05...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,0112679048 0111609001 0111593001 0111586001 01...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,0112679048 0111609001 0111593001 0111586001 01...

In [22]:
df_preds.to_csv('ALS-2018.csv')

In [23]:
end = time.time()
print(end - start)

18897.161586284637

In [26]:
matrices = get_val_matrices(df)
map12 = validate(matrices, 60, 20, 0.01, show_progress=False)

Factors:  60 - Iterations: 20 - Regularization: 0.010 ==> MAP@12: 0.00443

In [27]:
map12

0.004430360434524404

In [51]:
df = pd.read_csv(r'C:\Users\Stagiaire\Downloads\Timsoft\H&M\transactions_train.csv/transactions.csv', dtype={'article_id': str}, parse_dates=['t_dat'])
df = df[(df['t_dat'] > '2018-09-20') & (df['t_dat'] < '2019-09-20')]
dfu = pd.read_csv(r'C:\Users\Stagiaire\Downloads\Timsoft\H&M\customers.csv/customers.csv')
dfi = pd.read_csv(r'C:\Users\Stagiaire\Downloads\Timsoft\H&M\articles.csv/articles.csv', dtype={'article_id': str})

In [55]:
df = df.merge(dfi, on='article_id')
df = df[['t_dat', 'customer_id', 'article_id', 'prod_name', 'product_type_name',
       'product_group_name', 
       'graphical_appearance_name', 'colour_group_name',
       'perceived_colour_value_name',
       'perceived_colour_master_name',
       'department_name', 'index_name',
       'index_group_name', 'section_name',
       'garment_group_name', 'detail_desc']]

In [57]:
feature_subset = ['product_group_name', 
       'graphical_appearance_name', 'colour_group_name',
       'perceived_colour_value_name',
       'perceived_colour_master_name',
       'department_name', 'index_name',
       'index_group_name', 'section_name',
       'garment_group_name']

In [58]:
features = feature_subset
df1 = df[['customer_id', 'article_id'] + features]
dummies_df = pd.get_dummies(df1, columns=features)

In [ ]:
minimum_items = 2
groupby_customer = dummies_df.groupby('customer_id')

l = []
cutomer_ids = []
article_ids = []
for key in groupby_customer.groups.keys():
    temp = groupby_customer.get_group(key)
    if temp.article_id.nunique() >= minimum_items:
        l.append(temp.drop('article_id', axis=1).sum(numeric_only=True).values)
        cutomer_ids.append(key)
        article_ids.extend(temp.article_id.values.tolist())

In [ ]:
user_feature = pd.DataFrame(l, columns = dummies_df.columns[2:])
normalized_user_feature = user_feature.div(user_feature.sum(axis=1), axis=0)
normalized_user_feature.insert(0, 'customer_id', cutomer_ids)
normalized_user_feature = normalized_user_feature.set_index('customer_id')

In [ ]:
item_feature = dummies_df.drop_duplicates(subset='article_id')
item_feature = item_feature[item_feature.article_id.isin(article_ids)].drop('customer_id', axis=1)
item_feature = item_feature.set_index('article_id')

In [ ]:
dfu